

  <title>Rey Holmgren</title>

    <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <%= image_tag 'queenstown_replacement.jpg' %>
        <div class="caption center-align">
          <h3 class="white-text text-white"><strong>Hello, world!</strong></h3>
          <h5 class="light grey-text text-lighten-3"><strong>Nice to meet you.</strong></h5>
        </div>
      </li>
      <li>
        <%= image_tag 'hobbiton.jpg'%>
        <div class="caption right-align">
          <h3>Yeah, but who are you <strong>really?</strong></h3>
          <h5 class="light grey-text text-lighten-3"><strong>Your next junior QA engineer.
          </strong> </h5>
        </div>
      </li>
      <li>
        <%= image_tag 'saltlakecity.jpg' %>
        <div class="caption left-align">
        <br>

          <h3><strong>Who are you?!</strong></h3>
          <h5 class="light grey-text text-lighten-2"><strong>I'm Rey, a junior automated QA engineer with fullstack web development experience based in Salt Lake City, Utah.</strong></h5>
        </div>
      </li>
    </ul>

    <nav>
      <div class="nav-wrapper hoverable">
        <a href="http://rey-holmgren.herokuapp.com/" class="brand-logo center ">Rey Holmgren</a>

        <ul id="nav-mobile" class="left ">
          <li><a href="/resume/view" >Resume</a></li>
        </ul>

        <ul id="nav-mobile" class="right ">
          <li><a href="/letter/view"> Why Rey?</a></li>
        </ul>
      </div>
    </nav>

  </div>





  </body>




  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
